@nestjs-query/68:registry=https://gitlab.anvilar.com/api/v4/packages/npm/
//gitlab.anvilar.com/api/v4/packages/npm/:_authToken=MN8PWsa3H-gjAA7vrQf7
//gitlab.anvilar.com/api/v4/projects/68/packages/npm/:_authToken=MN8PWsa3H-gjAA7vrQf7